body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

*{
    font-family: sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-weight: 300;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1f2937;
    color: white;
    font-weight: 700;
    font-size: 27px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    min-height: 300px;
}

.content.one {
    background-color: #1f2937;
    align-items: center;
}

#hero {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

button.one {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: large;
}

.content.two {
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

img {
    height: 200px;
    width: 400px;
    border: 2px white solid;
    margin-left: 100px;
}

#random-info {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

#info-container {
    display: flex;
    gap: 40px;
}

.card-img {
    height: 200px;
    width: 180px;
    border: 3px solid blue;
    border-radius: 20%;
}

.infos {
    width: 180px;
    text-align: center;
}

.text-container {
    width: 864px;
}

.content.three {
    background-color: #E5E7EB;
}

#signup-container {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px 70px;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: fit-content;
}

.button {
    color: white;
    border-radius: 10px;
    border: 2px white solid;
}

.button.two {
    background-color: #3882f6;
    font-size: large;
    padding: 10px 20px;
}

#footer {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.content.four {
    padding: 0px;
    align-items: center;
}